@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 100;
    src: url('https://webassets.iota.org/fonts/inter/Inter-Thin.woff2?v=3.13') format("woff2"), url('https://webassets.iota.org/fonts/inter/Inter-Thin.woff?v=3.13') format("woff");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 100;
    src: url('https://webassets.iota.org/fonts/inter/Inter-ThinItalic.woff2?v=3.13') format("woff2"), url('https://webassets.iota.org/fonts/inter/Inter-ThinItalic.woff?v=3.13') format("woff");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    src: url('https://webassets.iota.org/fonts/inter/Inter-ExtraLight.woff2?v=3.13') format("woff2"), url('https://webassets.iota.org/fonts/inter/Inter-ExtraLight.woff?v=3.13') format("woff");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 200;
    src: url('https://webassets.iota.org/fonts/inter/Inter-ExtraLightItalic.woff2?v=3.13') format("woff2"), url('https://webassets.iota.org/fonts/inter/Inter-ExtraLightItalic.woff?v=3.13') format("woff");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    src: url('https://webassets.iota.org/fonts/inter/Inter-Light.woff2?v=3.13') format("woff2"), url('https://webassets.iota.org/fonts/inter/Inter-Light.woff?v=3.13') format("woff");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 300;
    src: url('https://webassets.iota.org/fonts/inter/Inter-LightItalic.woff2?v=3.13') format("woff2"), url('https://webassets.iota.org/fonts/inter/Inter-LightItalic.woff?v=3.13') format("woff");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: url('https://webassets.iota.org/fonts/inter/Inter-Regular.woff2?v=3.13') format("woff2"), url('https://webassets.iota.org/fonts/inter/Inter-Regular.woff?v=3.13') format("woff");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 400;
    src: url('https://webassets.iota.org/fonts/inter/Inter-Italic.woff2?v=3.13') format("woff2"), url('https://webassets.iota.org/fonts/inter/Inter-Italic.woff?v=3.13') format("woff");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    src: url('https://webassets.iota.org/fonts/inter/Inter-Medium.woff2?v=3.13') format("woff2"), url('https://webassets.iota.org/fonts/inter/Inter-Medium.woff?v=3.13') format("woff");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 500;
    src: url('https://webassets.iota.org/fonts/inter/Inter-MediumItalic.woff2?v=3.13') format("woff2"), url('https://webassets.iota.org/fonts/inter/Inter-MediumItalic.woff?v=3.13') format("woff");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    src: url('https://webassets.iota.org/fonts/inter/Inter-SemiBold.woff2?v=3.13') format("woff2"), url('https://webassets.iota.org/fonts/inter/Inter-SemiBold.woff?v=3.13') format("woff");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 600;
    src: url('https://webassets.iota.org/fonts/inter/Inter-SemiBoldItalic.woff2?v=3.13') format("woff2"), url('https://webassets.iota.org/fonts/inter/Inter-SemiBoldItalic.woff?v=3.13') format("woff");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    src: url('https://webassets.iota.org/fonts/inter/Inter-Bold.woff2?v=3.13') format("woff2"), url('https://webassets.iota.org/fonts/inter/Inter-Bold.woff?v=3.13') format("woff");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 700;
    src: url('https://webassets.iota.org/fonts/inter/Inter-BoldItalic.woff2?v=3.13') format("woff2"), url('https://webassets.iota.org/fonts/inter/Inter-BoldItalic.woff?v=3.13') format("woff");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    src: url('https://webassets.iota.org/fonts/inter/Inter-ExtraBold.woff2?v=3.13') format("woff2"), url('https://webassets.iota.org/fonts/inter/Inter-ExtraBold.woff?v=3.13') format("woff");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 800;
    src: url('https://webassets.iota.org/fonts/inter/Inter-ExtraBoldItalic.woff2?v=3.13') format("woff2"), url('https://webassets.iota.org/fonts/inter/Inter-ExtraBoldItalic.woff?v=3.13') format("woff");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    src: url('https://webassets.iota.org/fonts/inter/Inter-Black.woff2?v=3.13') format("woff2"), url('https://webassets.iota.org/fonts/inter/Inter-Black.woff?v=3.13') format("woff");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 900;
    src: url('https://webassets.iota.org/fonts/inter/Inter-BlackItalic.woff2?v=3.13') format("woff2"), url('https://webassets.iota.org/fonts/inter/Inter-BlackItalic.woff?v=3.13') format("woff");
}

@font-face {
    font-named-instance: "Regular";
    font-display: swap;
    font-family: Inter var;
    font-style: normal;
    font-weight: 100 900;
    src: url('https://webassets.iota.org/fonts/inter/Inter-roman.var.woff2?v=3.13') format("woff2");
}

@font-face {
    font-named-instance: "Italic";
    font-display: swap;
    font-family: Inter var;
    font-style: italic;
    font-weight: 100 900;
    src: url('https://webassets.iota.org/fonts/inter/Inter-italic.var.woff2?v=3.13') format("woff2");
}

@font-face {
    font-display: swap;
    font-family: Metropolis Regular;
    font-style: normal;
    font-weight: 400;
    src: url('https://webassets.iota.org/fonts/metropolis/Metropolis-Regular.woff2?v=11') format("woff2"), url('https://webassets.iota.org/fonts/metropolis/Metropolis-Regular.woff?v=11') format("woff");
}

@font-face {
    font-display: swap;
    font-family: Metropolis Light;
    font-style: normal;
    font-weight: 400;
    src: url('https://webassets.iota.org/fonts/metropolis/Metropolis-Light.woff2?v=11') format("woff2"), url('https://webassets.iota.org/fonts/metropolis/Metropolis-Light.woff?v=11') format("woff");
}

@font-face {
    font-display: swap;
    font-family: Metropolis Medium;
    font-style: normal;
    font-weight: 400;
    src: url('https://webassets.iota.org/fonts/metropolis/Metropolis-Medium.woff2?v=11') format("woff2"), url('https://webassets.iota.org/fonts/metropolis/Metropolis-Medium.woff?v=11') format("woff");
}

@font-face {
    font-display: swap;
    font-family: Metropolis Semi Bold;
    font-style: normal;
    font-weight: 400;
    src: url('https://webassets.iota.org/fonts/metropolis/Metropolis-SemiBold.woff2?v=11') format("woff2"), url('https://webassets.iota.org/fonts/metropolis/Metropolis-SemiBold.woff?v=11') format("woff");
}

@font-face {
    font-display: swap;
    font-family: Metropolis Bold;
    font-style: normal;
    font-weight: 400;
    src: url('https://webassets.iota.org/fonts/metropolis/Metropolis-Bold.woff2?v=11') format("woff2"), url('https://webassets.iota.org/fonts/metropolis/Metropolis-Bold.woff?v=11') format("woff");
}

/*! tailwindcss v3.0.24 | MIT License | https://tailwindcss.com*/
*,
:after,
:before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}

:after,
:before {
    --tw-content: "";
}

html {
    -webkit-text-size-adjust: 100%;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

body {
    line-height: inherit;
    margin: 0;
}

hr {
    border-top-width: 1px;
    color: inherit;
    height: 0;
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
pre,
samp {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

table {
    border-collapse: collapse;
    border-color: inherit;
    text-indent: 0;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

button,
select {
    text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

:-moz-focusring {
    outline: auto;
}

:-moz-ui-invalid {
    box-shadow: none;
}

progress {
    vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

summary {
    display: list-item;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0;
}

fieldset {
    margin: 0;
}

fieldset,
legend {
    padding: 0;
}

menu,
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #9ca3af;
    opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #9ca3af;
    opacity: 1;
}

input::placeholder,
textarea::placeholder {
    color: #9ca3af;
    opacity: 1;
}

[role=button],
button {
    cursor: pointer;
}

:disabled {
    cursor: default;
}

audio,
canvas,
embed,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle;
}

img,
video {
    height: auto;
    max-width: 100%;
}

[hidden] {
    display: none;
}

*,
:after,
:before {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

.visible {
    visibility: visible;
}

.static {
    position: static;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.top-auto {
    top: auto;
}

.left-auto {
    left: auto;
}

.top-1\/2 {
    top: 50%;
}

.left-1\/2 {
    left: 50%;
}

.top-4 {
    top: 1rem;
}

.right-4 {
    right: 1rem;
}

.left-5 {
    left: 1.25rem;
}

.z-0 {
    z-index: 0;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}

.z-30 {
    z-index: 30;
}

.order-last {
    order: 9999;
}

.order-first {
    order: -9999;
}

.float-left {
    float: left;
}

.m-3 {
    margin: .75rem;
}

.m-0 {
    margin: 0;
}

.my-2 {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.mx-2 {
    margin-left: .5rem;
    margin-right: .5rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mx-0 {
    margin-left: 0;
    margin-right: 0;
}

.my-8 {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.my-4 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-3 {
    margin-left: .75rem;
    margin-right: .75rem;
}

.my-6 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.my-1 {
    margin-bottom: .25rem;
    margin-top: .25rem;
}

.my-0 {
    margin-bottom: 0;
    margin-top: 0;
}

.my-5 {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

.mx-1 {
    margin-left: .25rem;
    margin-right: .25rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.mb-12 {
    margin-bottom: 3rem;
}

.mt-8 {
    margin-top: 2rem;
}

.mb-16 {
    margin-bottom: 4rem;
}

.mr-3 {
    margin-right: .75rem;
}

.mb-2 {
    margin-bottom: .5rem;
}

.-mt-4 {
    margin-top: -1rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-10 {
    margin-bottom: 2.5rem;
}

.mt-12 {
    margin-top: 3rem;
}

.ml-12 {
    margin-left: 3rem;
}

.mr-6 {
    margin-right: 1.5rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.ml-auto {
    margin-left: auto;
}

.mt-32 {
    margin-top: 8rem;
}

.mb-32 {
    margin-bottom: 8rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mr-0 {
    margin-right: 0;
}

.mr-4 {
    margin-right: 1rem;
}

.mb-5 {
    margin-bottom: 1.25rem;
}

.ml-4 {
    margin-left: 1rem;
}

.mr-8 {
    margin-right: 2rem;
}

.mt-10 {
    margin-top: 2.5rem;
}

.mt-2 {
    margin-top: .5rem;
}

.mr-2\.5 {
    margin-right: .625rem;
}

.mr-2 {
    margin-right: .5rem;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.ml-0 {
    margin-left: 0;
}

.mr-16 {
    margin-right: 4rem;
}

.mt-20 {
    margin-top: 5rem;
}

.mb-24 {
    margin-bottom: 6rem;
}

.mb-1 {
    margin-bottom: .25rem;
}

.mt-3 {
    margin-top: .75rem;
}

.mb-3 {
    margin-bottom: .75rem;
}

.ml-3 {
    margin-left: .75rem;
}

.mt-1 {
    margin-top: .25rem;
}

.mr-1 {
    margin-right: .25rem;
}

.mt-24 {
    margin-top: 6rem;
}

.mr-5 {
    margin-right: 1.25rem;
}

.ml-2 {
    margin-left: .5rem;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.grid {
    display: grid;
}

.hidden {
    display: none;
}

.h-full {
    height: 100%;
}

.h-0 {
    height: 0;
}

.h-auto {
    height: auto;
}

.h-12 {
    height: 3rem;
}

.h-6 {
    height: 1.5rem;
}

.h-5 {
    height: 1.25rem;
}

.h-4 {
    height: 1rem;
}

.h-3 {
    height: .75rem;
}

.h-20 {
    height: 5rem;
}

.h-screen {
    height: 100vh;
}

.h-80 {
    height: 20rem;
}

.min-h-screen {
    min-height: 100vh;
}

.w-full {
    width: 100%;
}

.w-8 {
    width: 2rem;
}

.w-0 {
    width: 0;
}

.w-auto {
    width: auto;
}

.w-4\/12 {
    width: 33.333333%;
}

.w-1\/2 {
    width: 50%;
}

.w-6 {
    width: 1.5rem;
}

.w-12 {
    width: 3rem;
}

.w-8\/12 {
    width: 66.666667%;
}

.w-5 {
    width: 1.25rem;
}

.w-5\/12 {
    width: 41.666667%;
}

.w-screen {
    width: 100vw;
}

.w-1\/3 {
    width: 33.333333%;
}

.max-w-xs {
    max-width: 20rem;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.grow {
    flex-grow: 1;
}

.grow-0 {
    flex-grow: 0;
}

.-translate-y-1\/2 {
    --tw-translate-y: -50%;
}

.-translate-x-1\/2,
.-translate-y-1\/2 {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-x-1\/2 {
    --tw-translate-x: -50%;
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-auto {
    cursor: auto;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.resize {
    resize: both;
}

.list-disc {
    list-style-type: disc;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.content-start {
    align-content: flex-start;
}

.content-between {
    align-content: space-between;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.items-baseline {
    align-items: baseline;
}

.items-stretch {
    align-items: stretch;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.space-y-4>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(1rem*var(--tw-space-y-reverse));
    margin-top: calc(1rem*(1 - var(--tw-space-y-reverse)));
}

.self-center {
    align-self: center;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-visible {
    overflow: visible;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.whitespace-pre {
    white-space: pre;
}

.rounded-lg {
    border-radius: .5rem;
}

.rounded-full {
    border-radius: 9999px;
}

.rounded-md {
    border-radius: .375rem;
}

.rounded-none {
    border-radius: 0;
}

.rounded-sm {
    border-radius: .125rem;
}

.rounded-l-lg {
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;
}

.rounded-r-none {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.rounded-r-lg {
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;
}

.rounded-l-none {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.rounded-tl-lg {
    border-top-left-radius: .5rem;
}

.rounded-bl-lg {
    border-bottom-left-radius: .5rem;
}

.rounded-tr-md {
    border-top-right-radius: .375rem;
}

.rounded-bl-md {
    border-bottom-left-radius: .375rem;
}

.border-2 {
    border-width: 2px;
}

.border {
    border-width: 1px;
}

.border-b {
    border-bottom-width: 1px;
}

.border-solid {
    border-style: solid;
}

.border-grey-6pm {
    --tw-border-opacity: 1;
    border-color: rgb(195 208 228/var(--tw-border-opacity));
}

.border-white {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255/var(--tw-border-opacity));
}

.border-red-600 {
    --tw-border-opacity: 1;
    border-color: rgb(220 38 38/var(--tw-border-opacity));
}

.border-grey-daylight {
    --tw-border-opacity: 1;
    border-color: rgb(246 248 252/var(--tw-border-opacity));
}

.border-grey-4pm {
    --tw-border-opacity: 1;
    border-color: rgb(217 225 239/var(--tw-border-opacity));
}

.border-grey-10pm {
    --tw-border-opacity: 1;
    border-color: rgb(72 87 118/var(--tw-border-opacity));
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

.bg-grey-daylight {
    --tw-bg-opacity: 1;
    background-color: rgb(246 248 252/var(--tw-bg-opacity));
}

.bg-green-regular {
    --tw-bg-opacity: 1;
    background-color: rgb(15 193 183/var(--tw-bg-opacity));
}

.bg-grey-6pm {
    --tw-bg-opacity: 1;
    background-color: rgb(195 208 228/var(--tw-bg-opacity));
}

.bg-grey-midnight {
    --tw-bg-opacity: 1;
    background-color: rgb(19 31 55/var(--tw-bg-opacity));
}

.bg-transparent {
    background-color: transparent;
}

.bg-grey-noon {
    --tw-bg-opacity: 1;
    background-color: rgb(242 245 251/var(--tw-bg-opacity));
}

.bg-grey-8pm {
    --tw-bg-opacity: 1;
    background-color: rgb(132 147 173/var(--tw-bg-opacity));
}

.bg-grey-4pm {
    --tw-bg-opacity: 1;
    background-color: rgb(217 225 239/var(--tw-bg-opacity));
}

.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235/var(--tw-bg-opacity));
}

.bg-green-highlight {
    --tw-bg-opacity: 1;
    background-color: rgb(0 224 202/var(--tw-bg-opacity));
}

.bg-grey-2pm {
    --tw-bg-opacity: 1;
    background-color: rgb(238 242 250/var(--tw-bg-opacity));
}

.bg-cover {
    background-size: cover;
}

.bg-left {
    background-position: 0;
}

.bg-center {
    background-position: 50%;
}

.bg-left-top {
    background-position: 0 0;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.object-contain {
    -o-object-fit: contain;
    object-fit: contain;
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.p-6 {
    padding: 1.5rem;
}

.p-5 {
    padding: 1.25rem;
}

.p-2 {
    padding: .5rem;
}

.p-4 {
    padding: 1rem;
}

.p-12 {
    padding: 3rem;
}

.p-0 {
    padding: 0;
}

.p-8 {
    padding: 2rem;
}

.py-0 {
    padding-bottom: 0;
    padding-top: 0;
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-4 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.py-2 {
    padding-bottom: .5rem;
    padding-top: .5rem;
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem;
}

.py-1 {
    padding-bottom: .25rem;
    padding-top: .25rem;
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.py-10 {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}

.py-16 {
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.py-20 {
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.py-24 {
    padding-bottom: 6rem;
    padding-top: 6rem;
}

.py-6 {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.py-8 {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.py-3 {
    padding-bottom: .75rem;
    padding-top: .75rem;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.pl-5 {
    padding-left: 1.25rem;
}

.pl-1 {
    padding-left: .25rem;
}

.pb-8 {
    padding-bottom: 2rem;
}

.pt-8 {
    padding-top: 2rem;
}

.pt-12 {
    padding-top: 3rem;
}

.pb-12 {
    padding-bottom: 3rem;
}

.pt-16 {
    padding-top: 4rem;
}

.pt-20 {
    padding-top: 5rem;
}

.pb-10 {
    padding-bottom: 2.5rem;
}

.pt-1 {
    padding-top: .25rem;
}

.pb-2 {
    padding-bottom: .5rem;
}

.pt-3 {
    padding-top: .75rem;
}

.pl-4 {
    padding-left: 1rem;
}

.pl-14 {
    padding-left: 3.5rem;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

.text-lg {
    font-size: 1.125rem;
}

.text-lg,
.text-xl {
    line-height: 1.75rem;
}

.text-xl {
    font-size: 1.25rem;
}

.font-bold {
    font-weight: 700;
}

.font-thin {
    font-weight: 100;
}

.font-extralight {
    font-weight: 200;
}

.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.leading-none {
    line-height: 1;
}

.leading-tight {
    line-height: 1.25;
}

.leading-normal {
    line-height: 1.5;
}

.leading-relaxed {
    line-height: 1.625;
}

.tracking-wide {
    letter-spacing: .025em;
}

.tracking-wider {
    letter-spacing: .05em;
}

.tracking-normal {
    letter-spacing: 0;
}

.text-grey-midnight {
    --tw-text-opacity: 1;
    color: rgb(19 31 55/var(--tw-text-opacity));
}

.text-green-regular {
    --tw-text-opacity: 1;
    color: rgb(15 193 183/var(--tw-text-opacity));
}

.text-green-highlight {
    --tw-text-opacity: 1;
    color: rgb(0 224 202/var(--tw-text-opacity));
}

.text-grey-8pm {
    --tw-text-opacity: 1;
    color: rgb(132 147 173/var(--tw-text-opacity));
}

.text-grey-daylight {
    --tw-text-opacity: 1;
    color: rgb(246 248 252/var(--tw-text-opacity));
}

.text-grey-10pm {
    --tw-text-opacity: 1;
    color: rgb(72 87 118/var(--tw-text-opacity));
}

.text-red-600 {
    --tw-text-opacity: 1;
    color: rgb(220 38 38/var(--tw-text-opacity));
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

.text-grey-6pm {
    --tw-text-opacity: 1;
    color: rgb(195 208 228/var(--tw-text-opacity));
}

.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39/var(--tw-text-opacity));
}

.text-grey-2pm {
    --tw-text-opacity: 1;
    color: rgb(238 242 250/var(--tw-text-opacity));
}

.text-grey-4pm {
    --tw-text-opacity: 1;
    color: rgb(217 225 239/var(--tw-text-opacity));
}

.opacity-0 {
    opacity: 0;
}

.opacity-25 {
    opacity: .25;
}

.opacity-50 {
    opacity: .5;
}

.outline {
    outline-style: solid;
}

.blur {
    --tw-blur: blur(8px);
}

.blur,
.grayscale {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.grayscale {
    --tw-grayscale: grayscale(100%);
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-filter {
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition {
    transition-duration: .15s;
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.ease-out {
    transition-timing-function: cubic-bezier(0, 0, .2, 1);
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.container {
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

@media (min-width:720px) {
    .container {
        max-width: calc(var(--grid-width-columns)*var(--grid-number-columns-tablet) + (var(--grid-number-columns-tablet) - 1)*var(--grid-width-column-spacer) + 2rem);
    }
}

@media (min-width:1064px) {
    .container {
        max-width: calc(var(--grid-width-columns)*var(--grid-number-columns) + (var(--grid-number-columns) - 1)*var(--grid-width-column-spacer) + 2rem);
    }
}

:root {
    --grid-number-columns: 12;
    --grid-number-columns-tablet: 8;
    --grid-number-columns-mobile: 4;
    --grid-width-columns: 64px;
    --grid-width-column-spacer: 24px;
}

html {
    --tw-text-opacity: 1;
    color: rgb(72 87 118/var(--tw-text-opacity));
    font-family: Inter, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    line-height: 1.5;
}

.body {
    letter-spacing: .04em;
}

.body.small {
    font-size: .75rem;
    letter-spacing: .02em;
    line-height: 1rem;
    line-height: 1.625;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    --tw-text-opacity: 1;
    color: rgb(19 31 55/var(--tw-text-opacity));
    font-family: Metropolis Bold;
    letter-spacing: 0;
    line-height: 1.25;
    text-transform: capitalize;
}

h1.light,
h2.light,
h3.light,
h4.light,
h5.light,
h6.light {
    font-family: Metropolis Regular;
}

h1 b,
h2 b,
h3 b,
h4 b,
h5 b,
h6 b {
    font-weight: inherit;
}

h1 {
    font-size: 3rem;
    line-height: 1;
}

h1.alt {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h2,
h3 {
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.75rem;
}

h4,
h5,
h6 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: .75rem;
}

@media (min-width:720px) {
    h1 {
        font-size: 3.75rem;
    }

    h1,
    h1.alt {
        line-height: 1;
    }

    h1.alt {
        font-size: 3rem;
    }

    h1 b,
    h1 strong {
        font-family: Metropolis Bold;
        font-weight: 400;
    }

    h2 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    h3 {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    h4,
    h5,
    h6 {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

.cursor-pointer:focus,
a:focus,
button:focus {
    outline: none;
}

*+ul,
p+p {
    margin-top: 1.5rem;
}

p:empty {
    display: none;
}

.Media .intercalated img {
    padding: 1rem;
}

@media (min-width:720px) {
    .Media .intercalated img {
        padding: 0;
    }
}

.subheadline {
    --tw-text-opacity: 1;
    color: rgb(19 31 55/var(--tw-text-opacity));
    font-family: Metropolis Medium;
    font-size: 1rem;
    line-height: 1.5rem;
    line-height: 1.5;
}

.headline-stick {
    --tw-bg-opacity: 1;
    background-color: #13c034;
    height: 4px;
    margin-bottom: 1.25rem;
    width: 16px;
}

.headline-stick.size-s {
    width: 24px;
}

.headline-stick.size-m {
    width: 48px;
}

.headline-stick.size-l {
    width: 80px;
}

.headline-stick.size-xl {
    width: 120px;
}

.headline-stick.size-xxl {
    width: 160px;
}

.blue-circle {
    --tw-bg-opacity: 1;
    background-color: rgb(0 224 202/var(--tw-bg-opacity));
    border-radius: 9999px;
    opacity: .25;
}

.blue-circle.size-s {
    height: 74px;
    width: 74px;
}

.blue-circle.size-m {
    height: 104px;
    width: 104px;
}

.blue-circle.size-l {
    height: 118px;
    width: 118px;
}

.blue-circle.size-xl {
    height: 152px;
    width: 152px;
}

.col-1 {
    max-width: 64px;
    width: 100%;
}

@media (min-width:720px) {
    .lg\:col-1 {
        max-width: 34.6666666667px;
        width: 100%;
    }
}

@media (min-width:1064px) {
    .lg\:col-1 {
        max-width: 64px;
        width: 100%;
    }
}

.offset-1 {
    margin-left: 88px;
}

.n-offset-1 {
    margin-left: -88px;
}

.translate-right-1 {
    transform: translate(88px);
}

.translate-left-1 {
    transform: translate(-40px);
}

.col-2 {
    max-width: 152px;
    width: 100%;
}

@media (min-width:720px) {
    .lg\:col-2 {
        max-width: 93.3333333333px;
        width: 100%;
    }
}

@media (min-width:1064px) {
    .lg\:col-2 {
        max-width: 152px;
        width: 100%;
    }
}

.offset-2 {
    margin-left: 176px;
}

.n-offset-2 {
    margin-left: -176px;
}

.translate-right-2 {
    transform: translate(176px);
}

.translate-left-2 {
    transform: translate(-80px);
}

.col-3 {
    max-width: 240px;
    width: 100%;
}

@media (min-width:720px) {
    .lg\:col-3 {
        max-width: 152px;
        width: 100%;
    }
}

@media (min-width:1064px) {
    .lg\:col-3 {
        max-width: 240px;
        width: 100%;
    }
}

.offset-3 {
    margin-left: 264px;
}

.n-offset-3 {
    margin-left: -264px;
}

.translate-right-3 {
    transform: translate(264px);
}

.translate-left-3 {
    transform: translate(-120px);
}

.col-4 {
    max-width: 328px;
    width: 100%;
}

@media (min-width:720px) {
    .lg\:col-4 {
        max-width: 210.6666666667px;
        width: 100%;
    }
}

@media (min-width:1064px) {
    .lg\:col-4 {
        max-width: 328px;
        width: 100%;
    }
}

.offset-4 {
    margin-left: 352px;
}

.n-offset-4 {
    margin-left: -352px;
}

.translate-right-4 {
    transform: translate(352px);
}

.translate-left-4 {
    transform: translate(-160px);
}

.col-5 {
    max-width: 416px;
    width: 100%;
}

@media (min-width:720px) {
    .lg\:col-5 {
        max-width: 269.3333333333px;
        width: 100%;
    }
}

@media (min-width:1064px) {
    .lg\:col-5 {
        max-width: 416px;
        width: 100%;
    }
}

.offset-5 {
    margin-left: 440px;
}

.n-offset-5 {
    margin-left: -440px;
}

.translate-right-5 {
    transform: translate(440px);
}

.translate-left-5 {
    transform: translate(-200px);
}

.col-6 {
    max-width: 504px;
    width: 100%;
}

@media (min-width:720px) {
    .lg\:col-6 {
        max-width: 328px;
        width: 100%;
    }
}

@media (min-width:1064px) {
    .lg\:col-6 {
        max-width: 504px;
        width: 100%;
    }
}

.offset-6 {
    margin-left: 528px;
}

.n-offset-6 {
    margin-left: -528px;
}

.translate-right-6 {
    transform: translate(528px);
}

.translate-left-6 {
    transform: translate(-240px);
}

.col-7 {
    max-width: 592px;
    width: 100%;
}

@media (min-width:720px) {
    .lg\:col-7 {
        max-width: 386.6666666667px;
        width: 100%;
    }
}

@media (min-width:1064px) {
    .lg\:col-7 {
        max-width: 592px;
        width: 100%;
    }
}

.offset-7 {
    margin-left: 616px;
}

.n-offset-7 {
    margin-left: -616px;
}

.translate-right-7 {
    transform: translate(616px);
}

.translate-left-7 {
    transform: translate(-280px);
}

.col-8 {
    max-width: 680px;
    width: 100%;
}

@media (min-width:720px) {
    .lg\:col-8 {
        max-width: 445.3333333333px;
        width: 100%;
    }
}

@media (min-width:1064px) {
    .lg\:col-8 {
        max-width: 680px;
        width: 100%;
    }
}

.offset-8 {
    margin-left: 704px;
}

.n-offset-8 {
    margin-left: -704px;
}

.translate-right-8 {
    transform: translate(704px);
}

.translate-left-8 {
    transform: translate(-320px);
}

.col-9 {
    max-width: 768px;
    width: 100%;
}

@media (min-width:720px) {
    .lg\:col-9 {
        max-width: 504px;
        width: 100%;
    }
}

@media (min-width:1064px) {
    .lg\:col-9 {
        max-width: 768px;
        width: 100%;
    }
}

.offset-9 {
    margin-left: 792px;
}

.n-offset-9 {
    margin-left: -792px;
}

.translate-right-9 {
    transform: translate(792px);
}

.translate-left-9 {
    transform: translate(-360px);
}

.col-10 {
    max-width: 856px;
    width: 100%;
}

@media (min-width:720px) {
    .lg\:col-10 {
        max-width: 562.6666666667px;
        width: 100%;
    }
}

@media (min-width:1064px) {
    .lg\:col-10 {
        max-width: 856px;
        width: 100%;
    }
}

.offset-10 {
    margin-left: 880px;
}

.n-offset-10 {
    margin-left: -880px;
}

.translate-right-10 {
    transform: translate(880px);
}

.translate-left-10 {
    transform: translate(-400px);
}

.col-11 {
    max-width: 944px;
    width: 100%;
}

@media (min-width:720px) {
    .lg\:col-11 {
        max-width: 621.3333333333px;
        width: 100%;
    }
}

@media (min-width:1064px) {
    .lg\:col-11 {
        max-width: 944px;
        width: 100%;
    }
}

.offset-11 {
    margin-left: 968px;
}

.n-offset-11 {
    margin-left: -968px;
}

.translate-right-11 {
    transform: translate(968px);
}

.translate-left-11 {
    transform: translate(-440px);
}

.col-12 {
    max-width: 1032px;
    width: 100%;
}

@media (min-width:720px) {
    .lg\:col-12 {
        max-width: 680px;
        width: 100%;
    }
}

@media (min-width:1064px) {
    .lg\:col-12 {
        max-width: 1032px;
        width: 100%;
    }
}

.offset-12 {
    margin-left: 1056px;
}

.n-offset-12 {
    margin-left: -1056px;
}

.translate-right-12 {
    transform: translate(1056px);
}

.translate-left-12 {
    transform: translate(-480px);
}

.bg-green-gradient {
    background: linear-gradient(315deg, #00e0ca 8.22%, #22c55e 100.99%);
}

.bg-midnight-gradient {
    background: linear-gradient(225deg, #485776, #131f37);
}

.hover-drop-shadow {
    box-shadow: 0 8px 24px #8493ad99;
}

.element-from-blur,
.letters-from-blur {
    opacity: 0;
    will-change: opacity, filter, transform;
}

.element-from-blur-animate {
    -webkit-animation: element-from-blur-animate 1s normal forwards;
    animation: element-from-blur-animate 1s normal forwards;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    perspective: 1000;
    transform: translateZ(0);
}

/* .slide-article.active.element-from-blur
{
    -webkit-animation: element-from-blur-animate 1s normal forwards;
        animation: element-from-blur-animate 1s normal forwards;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        perspective: 1000;
        transform: translateZ(0);
} */
@-webkit-keyframes element-from-blur-animate {
    0% {
        filter: blur(30px);
        opacity: 0;
    }

    to {
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes element-from-blur-animate {
    0% {
        filter: blur(30px);
        opacity: 0;
    }

    to {
        filter: blur(0);
        opacity: 1;
    }
}

.fade-in-bottom:not(.incompatible) {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
    transition: all .3s linear, background 0s;
}

.fade-in-bottom-animate:not(.incompatible) {
    opacity: 1;
    transform: translateZ(0);
}

.fade-in-bottom-bigger:not(.incompatible) {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    transition: all 1s linear;
}

.fade-in-bottom-bigger-animate:not(.incompatible) {
    opacity: 1;
    transform: translateZ(0);
}

.fade-in {
    opacity: 0;
    transition: all .3s linear, background 0s;
}

.fade-in-animate {
    opacity: 1;
}

.placeholder-animation {
    -webkit-animation: placeholder-pulse .6s ease-in-out infinite alternate;
    animation: placeholder-pulse .6s ease-in-out infinite alternate;
}

@-webkit-keyframes placeholder-pulse {
    0% {
        opacity: .6;
    }

    to {
        opacity: 1;
    }
}

@keyframes placeholder-pulse {
    0% {
        opacity: .6;
    }

    to {
        opacity: 1;
    }
}

::-moz-selection {
    background: #80efe4;
}

::selection {
    background: #80efe4;
}

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    --tw-bg-opacity: 1;
    background-color: rgb(0 224 202/var(--tw-bg-opacity));
    height: 4px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1031;
}

#nprogress .peg {
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    display: block;
    height: 100%;
    opacity: 1;
    position: absolute;
    right: 0;
    transform: rotate(3deg) translateY(-4px);
    width: 100px;
}

#nprogress .spinner {
    display: block;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 1031;
}

#nprogress .spinner-icon {
    -webkit-animation: nprogress-spinner .4s linear infinite;
    animation: nprogress-spinner .4s linear infinite;
    border-color: #00e0ca transparent transparent #00e0ca;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    height: 18px;
    width: 18px;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .bar,
.nprogress-custom-parent #nprogress .spinner {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(1turn);
    }
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0);
    }

    to {
        transform: rotate(1turn);
    }
}

.video-tabs .tab-title {
    --tw-border-opacity: 1;
    --tw-text-opacity: 1;
    border-bottom-width: 1px;
    border-color: rgb(195 208 228/var(--tw-border-opacity));
    color: rgb(132 147 173/var(--tw-text-opacity));
    font-size: 20px !important;
}

.video-tabs .tab-title.active {
    --tw-text-opacity: 1 !important;
    color: rgb(246 248 252/var(--tw-text-opacity)) !important;
}

@media (min-width:720px) {
    .video-tabs .tab-title {
        border-bottom-width: 0;
        font-size: 48px !important;
    }
}

.video-tabs>.tab-content {
    max-height: 0;
}

.video-tabs>.tab-content.active {
    max-height: 3000px !important;
}

section:not(.prevent-arrow-links) .rich-text-block ul.has-links>li {
    list-style-type: none;
    position: relative;
}

section:not(.prevent-arrow-links) .rich-text-block ul.has-links>li:before {
    content: url('../svg/list-angle-right.svg');
    left: -16px;
    position: absolute;
}

section:not(.prevent-arrow-links) .rich-text-block ul.has-links>li.green li:before {
    content: url('../svg/list-angle-right.svg');
}

section:not(.prevent-arrow-links) .rich-text-block ul.has-links>li a {
    display: inline-block;
    font-weight: var(--list-font-weight);
    transition: transform .3s ease;
}

section:not(.prevent-arrow-links) .rich-text-block ul.has-links>li a:hover {
    transform: translate3d(5px, 0, 0);
}

section:not(.prevent-arrow-links) .rich-text-block ul.has-links>li>p>a {
    display: inline-block;
    font-weight: var(--list-font-weight);
    transition: transform .3s ease;
}

section:not(.prevent-arrow-links) .rich-text-block ul.has-links>li>p>a:hover {
    transform: translate3d(5px, 0, 0);
}

section:not(.prevent-arrow-links) .rich-text-block ul.has-links>li>p>a:hover .row~.row {
    padding-top: 2rem;
}

@media (min-width:720px) {
    section:not(.prevent-arrow-links) .rich-text-block ul.has-links>li>p>a:hover .row~.row {
        padding-top: 5rem;
    }
}

.row~.row {
    padding-top: 2rem;
}

@media (min-width:720px) {
    .row~.row {
        padding-top: 5rem;
    }
}

.hover\:bg-grey-6pm:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(195 208 228/var(--tw-bg-opacity));
}

@media (min-width:640px) {
    .sm\:mx-2 {
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .sm\:ml-24 {
        margin-left: 6rem;
    }

    .sm\:mb-6 {
        margin-bottom: 1.5rem;
    }

    .sm\:w-6\/12 {
        width: 50%;
    }

    .sm\:w-auto {
        width: auto;
    }

    .sm\:flex-row {
        flex-direction: row;
    }

    .sm\:flex-nowrap {
        flex-wrap: nowrap;
    }

    .sm\:items-end {
        align-items: flex-end;
    }

    .sm\:rounded-lg {
        border-radius: .5rem;
    }

    .sm\:p-8 {
        padding: 2rem;
    }

    .sm\:px-0 {
        padding-left: 0;
        padding-right: 0;
    }

    .sm\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
}

@media (min-width:720px) {
    .md\:static {
        position: static;
    }

    .md\:absolute {
        position: absolute;
    }

    .md\:left-auto {
        left: auto;
    }

    .md\:left-0 {
        left: 0;
    }

    .md\:top-0 {
        top: 0;
    }

    .md\:order-none {
        order: 0;
    }

    .md\:order-last {
        order: 9999;
    }

    .md\:mx-0 {
        margin-left: 0;
        margin-right: 0;
    }

    .md\:mx-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .md\:mb-0 {
        margin-bottom: 0;
    }

    .md\:mt-32 {
        margin-top: 8rem;
    }

    .md\:mt-20 {
        margin-top: 5rem;
    }

    .md\:mt-48 {
        margin-top: 12rem;
    }

    .md\:mb-16 {
        margin-bottom: 4rem;
    }

    .md\:mr-6 {
        margin-right: 1.5rem;
    }

    .md\:mb-6 {
        margin-bottom: 1.5rem;
    }

    .md\:mb-4 {
        margin-bottom: 1rem;
    }

    .md\:mb-2 {
        margin-bottom: .5rem;
    }

    .md\:mt-0 {
        margin-top: 0;
    }

    .md\:ml-6 {
        margin-left: 1.5rem;
    }

    .md\:mt-1 {
        margin-top: .25rem;
    }

    .md\:mb-8 {
        margin-bottom: 2rem;
    }

    .md\:ml-4 {
        margin-left: 1rem;
    }

    .md\:mt-2 {
        margin-top: .5rem;
    }

    .md\:block {
        display: block;
    }

    .md\:inline-block {
        display: inline-block;
    }

    .md\:flex {
        display: flex;
    }

    .md\:hidden {
        display: none;
    }

    .md\:w-full {
        width: 100%;
    }

    .md\:w-1\/3 {
        width: 33.333333%;
    }

    .md\:w-auto {
        width: auto;
    }

    .md\:w-5\/12 {
        width: 41.666667%;
    }

    .md\:w-6\/12 {
        width: 50%;
    }

    .md\:w-1\/6 {
        width: 16.666667%;
    }

    .md\:max-w-3xl {
        max-width: 48rem;
    }

    .md\:max-w-xs {
        max-width: 20rem;
    }

    .md\:grow {
        flex-grow: 1;
    }

    .md\:flex-row {
        flex-direction: row;
    }

    .md\:flex-wrap {
        flex-wrap: wrap;
    }

    .md\:flex-nowrap {
        flex-wrap: nowrap;
    }

    .md\:items-start {
        align-items: flex-start;
    }

    .md\:items-center {
        align-items: center;
    }

    .md\:justify-center {
        justify-content: center;
    }

    .md\:justify-between {
        justify-content: space-between;
    }

    .md\:overflow-hidden {
        overflow: hidden;
    }

    .md\:p-10 {
        padding: 2.5rem;
    }

    .md\:px-20 {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .md\:px-0 {
        padding-left: 0;
        padding-right: 0;
    }

    .md\:px-12 {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .md\:py-20 {
        padding-bottom: 5rem;
        padding-top: 5rem;
    }

    .md\:px-24 {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .md\:pb-5 {
        padding-bottom: 1.25rem;
    }

    .md\:pt-24 {
        padding-top: 6rem;
    }

    .md\:pb-0 {
        padding-bottom: 0;
    }

    .md\:pr-12 {
        padding-right: 3rem;
    }

    .md\:pt-0 {
        padding-top: 0;
    }

    .md\:pb-8 {
        padding-bottom: 2rem;
    }

    .md\:text-left {
        text-align: left;
    }

    .md\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .md\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .md\:text-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .md\:font-semibold {
        font-weight: 600;
    }

    .md\:container {
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
    }

    @media (min-width:720px) {
        .md\: container {
            max-width: calc(var(--grid-width-columns)*var(--grid-number-columns-tablet) + (var(--grid-number-columns-tablet) - 1)*var(--grid-width-column-spacer) + 2rem);
        }
    }

    @media (min-width:1064px) {
        .md\:container {
            max-width: calc(var(--grid-width-columns)*var(--grid-number-columns) + (var(--grid-number-columns) - 1)*var(--grid-width-column-spacer) + 2rem);
        }
    }
}

@media (min-width:1064px) {
    .lg\:top-9 {
        top: 2.25rem;
    }

    .lg\:right-9 {
        right: 2.25rem;
    }

    .lg\:mx-0 {
        margin-left: 0;
        margin-right: 0;
    }

    .lg\:my-0 {
        margin-bottom: 0;
        margin-top: 0;
    }

    .lg\:mx-2 {
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .lg\:mr-6 {
        margin-right: 1.5rem;
    }

    .lg\:mr-0 {
        margin-right: 0;
    }

    .lg\:ml-16 {
        margin-left: 4rem;
    }

    .lg\:ml-12 {
        margin-left: 3rem;
    }

    .lg\:mr-24 {
        margin-right: 6rem;
    }

    .lg\:mr-2 {
        margin-right: .5rem;
    }

    .lg\:mt-0 {
        margin-top: 0;
    }

    .lg\:mb-0 {
        margin-bottom: 0;
    }

    .lg\:mb-8 {
        margin-bottom: 2rem;
    }

    .lg\:mr-8 {
        margin-right: 2rem;
    }

    .lg\:ml-8 {
        margin-left: 2rem;
    }

    .lg\:mb-14 {
        margin-bottom: 3.5rem;
    }

    .lg\:mt-8 {
        margin-top: 2rem;
    }

    .lg\:mb-10 {
        margin-bottom: 2.5rem;
    }

    .lg\:mt-40 {
        margin-top: 10rem;
    }

    .lg\:block {
        display: block;
    }

    .lg\:flex {
        display: flex;
    }

    .lg\:hidden {
        display: none;
    }

    .lg\:w-48 {
        width: 12rem;
    }

    .lg\:w-full {
        width: 100%;
    }

    .lg\:w-3\/12 {
        width: 25%;
    }

    .lg\:w-1\/2 {
        width: 50%;
    }

    .lg\:max-w-3xl {
        max-width: 48rem;
    }

    .lg\:flex-row {
        flex-direction: row;
    }

    .lg\:flex-nowrap {
        flex-wrap: nowrap;
    }

    .lg\:justify-between {
        justify-content: space-between;
    }

    .lg\:overflow-hidden {
        overflow: hidden;
    }

    .lg\:overflow-y-auto {
        overflow-y: auto;
    }

    .lg\:p-0 {
        padding: 0;
    }

    .lg\:py-3 {
        padding-bottom: .75rem;
        padding-top: .75rem;
    }

    .lg\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .lg\:px-0 {
        padding-left: 0;
        padding-right: 0;
    }

    .lg\:py-8 {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .lg\:pb-2 {
        padding-bottom: .5rem;
    }

    .lg\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    .lg\:opacity-0 {
        opacity: 0;
    }

    .lg\:container {
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
    }

    @media (min-width:720px) {
        .lg\: container {
            max-width: calc(var(--grid-width-columns)*var(--grid-number-columns-tablet) + (var(--grid-number-columns-tablet) - 1)*var(--grid-width-column-spacer) + 2rem);
        }
    }

    @media (min-width:1064px) {
        .lg\:container {
            max-width: calc(var(--grid-width-columns)*var(--grid-number-columns) + (var(--grid-number-columns) - 1)*var(--grid-width-column-spacer) + 2rem);
        }
    }
}